/* TODO: Setting up the project starts */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-y: visible;
}


* {
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
    overflow: hidden;            
}

ul {
    list-style-type: none;
}

:root {
    --main-color: #ffffff;
    --second-color: #7cdbdb;
    --third-color: #f04e23;
    --home-header-color: #fefefe;
    --other-headers-color: #4c5156;
    --text-color: #95979b;
    --header-height: 7rem;
    --logo-name-color: #0e4455;
    --horizontal-grobal-padding: 5%;
}

.main {
    margin-top: var(--header-height);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.button {
    text-transform: capitalize;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.6rem;
    border-radius: 1rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.main__button {
    background: var(--third-color);
    color: var(--home-header-color);
}

.regular__button {
    background: var(--main-color);
    color: var(--other-headers-color);
    border: 1px solid rgba(0,0,0,0.3)
}

/* FIXME: Setting up the project ends */

/* TODO: Header starts */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    background: var(--main-color);
    padding: 0 1.5rem 0 1.2rem;
    overflow: visible;
    z-index: 1000;
}

.fa-fire {
    color: var(--third-color);
    font-size: 5rem;
}


.center__center {
    align-items: center;
    justify-content: center;
}

.logo__container {
    gap: 0.5rem;
}

.logo__name {
    font-size: 2.2rem;
    color: var(--logo-name-color);
    font-weight: bolder;
}

.bars__container {
    display: none;
}

.fa-bars {
    font-size: 2rem;
    color: var(--other-headers-color);
}

.pointer {
    cursor: pointer;
}

.header__nav__bar__container {
    position: absolute;
    right: -110vw;
    width: 100vw;
    top: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .2s linear;
}

.header__nav__bar__container.active {
    right: 0;
}

.less__brightness {
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.header__nav__bar__content {
    background: var(--main-color);
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 100vw;
}

.close__and__nav__bar__container {
    gap: 4.5rem;
}

.close__nav__bar__container {
    justify-content: space-between;
    align-items: center;
}

.close__nav__bar__container span {
    font-size: 2rem;
    text-transform: capitalize;
}

.fa-times {
    font-size: 2.5rem;
}

.header__nav__bar__item, 
.fa-times,
.close__nav__bar__container span {
    color: var(--other-headers-color);
}

.header__nav__bar__item {
    font-size: 1.7rem;
    text-transform: capitalize;
}

.header__nav__bar {
    gap: 2rem;
}

.header__buttons__container {
    gap: 1.5rem;
}

.deskop__item {
    display: none;
}

.login__button {
    display: none;
}

/* FIXME: Header ends */

/* TODO: Home starts */

.home {
    background: url(../../public/images/small.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.home__content__container {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    gap: 2rem;
}

.home__h1 {
    color: var(--home-header-color);
    font-size: 2.2rem;
    text-transform: capitalize;
}

.home__content__container .button__container {
    background: var(--third-color);
    width: 18rem;
    cursor: pointer;
}

.home__content__container .button {
    color: var(--main-color);
}

.home__video__container {
    height: 18rem;
    background: url(../images/videoThumbnail.jpg);
    background-repeat: no-repeat;
    background-position: -240px -350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    max-width: 35rem;
    transition: all .2s linear;
}

.home__video__container:hover {
    box-shadow: inset 0 -40px 40px 0 rgba(240, 78, 35, 0.5), inset 10px 0 40px 0 rgba(240, 78, 35, 0.5);
}

.circle {
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid var(--main-color);
    background: rgba(0,0,0,0.6);
    transition: all .2s linear;
}

.player {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid var(--main-color);
    border-bottom: 13px solid transparent;
    margin-left: 0.5rem;
}

.home__video__container:hover .circle {
    background: var(--third-color);
}

.video__clicked {
    position: absolute;
    left: 10%;
    top: 10%;
    bottom: 10%;
    right: 10%;
    background: rgba(0,0,0,0.6);
    border-radius: 2rem;
    padding: 0.5rem;
    display: none;
}

.video__clicked.active {
    display: flex;
    align-items: center;
}

.video__clicked h2 {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
    align-self: center;
}


.video__clicked .fa-times {
    color: white;
    position: inherit;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

/* TODO: Media queries start */

@media screen and (min-width: 200px) {

    /* TODO: Header ajdustments */

    .bars__container {
        display: block;
    }

    /* FIXME: Header adjustments end */
    
}

@media screen and (min-width: 280px) {

    /* TODO: Header adjustments */

    .fa-bars {
        font-size: 2.5rem;
    }

    .logo__name {
        font-size: 3rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Home adjustments */

    .home__h1 {
        font-size: 2.7rem;
    }

    /* FIXME: Home adjustments end */
    
}

@media screen and (min-width: 350px) {

    /* TODO: Header adjustments */

    .header {
        padding: 0 3rem 0 2rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Home adjustments */

    .home {
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem var(--horizontal-grobal-padding);
    }

    .home__content__container {
        padding: 0;
    }

    .home__video__container {
        height: 20rem;
    }

    .home__h1 {
        font-size: 3rem;
    }

    /* FIXME: Home adjustments end */
    
}

@media screen and (min-width: 450px) {

    
    /* TODO: Header adjustments */

    .less__brightness {
        width: 25vw;
        
    }
    
    .header__nav__bar__content {
        
        width: 75vw;
    }
    
    /* FIXME: Header adjustments end */

    /* TODO: Home adjsutments */

    .home__video__container {
        height: 22rem;
    }

    /* FIXME: Home adjsutments end */

}

@media screen and (min-width: 550px) {

    /* TODO: Header adjustments */

    .less__brightness {
        width: 30vw;
        
    }
    
    .header__nav__bar__content {
        
        width: 70vw;
    }
    
    /* FIXME: Header adjustments end */

    /* TODO: Home ajdustments */

    .home {
        background-image: url(../images/medium.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home__video__container {
        height: 28rem;
        background: url(../images/videoThumbnail.jpg);
        background-position: 0 -200px;
        background-repeat: no-repeat;
        background-size: 100% 200%;
        border-radius: 1rem;
        max-width: 55rem;
        margin-top: -2rem;
        cursor: pointer;
    }

    .home__video__container:hover {
        box-shadow: inset 0 -100px 40px 0 rgba(240, 78, 35, 0.5), inset 10px 0 40px 0 rgba(240, 78, 35, 0.5);
    }

    .home__h1 {
        max-width: 20ch;
    }

    .video__clicked h2 {
        font-size: 4rem;
    }

    /* FIXME: Home adjustments end */
    
}

@media screen and (min-width: 700px) {

    /* TODO: Header adjustments */

    .less__brightness {
        width: 40vw;
        
    }
    
    .header__nav__bar__content {
        
        width: 60vw;
    }
    
    /* FIXME: Header adjustments end */

    /* TODO: Home adjsutments */

    .home__h1 {
        font-size: 4rem;
    }

    /* FIXME: Home adjsutments end */
    
}

@media screen and (min-width: 900px) {

    /* TODO: Header adjustments */

    .less__brightness {
        width: 55vw;
        
    }
    
    .header__nav__bar__content {
        
        width: 45vw;
    }
    
    /* FIXME: Header adjustments end */

    /* TODO: Home ajustments */

    .video__clicked {
        padding: 0 var(--horizontal-grobal-padding);
    }

    .video__clicked h2 {
        font-size: 5rem;
    }

    /* FIXME: Home adjsutments end */

}

@media screen and (min-width: 1000px) {

    /* TODO: Header adjustments */

    .less__brightness {
        width: 60vw;
        
    }
    
    .header__nav__bar__content {
        
        width: 40vw;
    }
    
    /* FIXME: Header adjustments end */

 
}

@media screen and (min-width: 1280px) {


    /* TODO: Setting up the project adjustments */

    :root {
        --horizontal-grobal-padding: 7%;
    }

    /* FIXME: Setting up the project adjustments end */

    /* TODO: Header adjsutments */

    .bars__container {
        display: none;
    }

    .header__nav__bar__container {
        position: initial;
        height: initial;
        z-index: initial;
        transition: none;
        width: 85%;
        background: none;
    }
    
    .header {
        justify-content: initial; 
        overflow: visible;
        gap: 2rem;
        padding-right: 2rem;
    }

    .less__brightness {
        display: none;  
    }
    
    .header__nav__bar__content {  
        width: initial;
        align-items: center;
        width: 100%;
        background: none;
    }
    
    .mobile__item,
    .mobile__button,
    .close__nav__bar__container {
        display: none;
    } 
    
    .deskop__item {
        display: initial;
    }

    .login__button {
        display: inline-block;
        background: var(--home-header-color);
        color: var(--third-color);
        border: .1rem solid var(--third-color);
        border-radius: 0;
        padding: 1.6rem 2.5rem;
    }

    .main__button {
        border-radius: 0;
    }

    .header__nav__bar {
        gap: 2.5rem;
    }

    /* FIXME: Header adjsutments end */
    
}



@media screen and (min-width: 1400px) {

    /* TODO: Setting up the project adjustments */

    :root {
        --horizontal-grobal-padding: 10%;
    }

    /* FIXME: Setting up the project adjustments end */

    /* TODO: Header adjsutments */

    .header__nav__bar__container {
        width: 87%;
    }

    /* FIXME: Header adjsutments end */

    
}

@media screen and (min-width: 1500px) {

    /* TODO: Setting up the project adjustments */

    :root {
        --horizontal-grobal-padding: 12%;
    }

    /* FIXME: Setting up the project adjustments end */

    /* TODO: Header adjsutments */

    .header__nav__bar__container {
        width: 89%;
    }

    /* FIXME: Header adjsutments end */
    
}

@media screen and (min-width: 1600px) {

    /* TODO: Header adjsutments */

    .header__nav__bar__container {
        width: 90%;
    }

    /* FIXME: Header adjsutments end */
    
}

@media screen and (min-width:1800px) {

    /* TODO: Setting up the project adjustments */

    :root {
        --horizontal-grobal-padding: 16%;
    }

    /* FIXME: Setting up the project adjustments end */
    
}

@media screen and (min-width: 2200px) {

    /* TODO: Header adjsutments */

    .header__nav__bar__container {
        width: 92%;
    }

    /* FIXME: Header adjsutments end */
}
